* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.container {
  width: 100%;
  max-width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
.dark {
  background: linear-gradient(to right, rgb(0, 24, 10), rgb(1, 14, 4));
  color: white;
  .header {
    background: linear-gradient(to right, rgb(0, 24, 10), rgb(1, 14, 4));
  }
}
body {
  background: linear-gradient(to right, rgb(64, 182, 113), rgb(1, 32, 9));
}
/* Header */
.header {
  position: sticky;
  background: linear-gradient(to right, rgb(64, 182, 113), rgb(1, 32, 9));
  border-radius: 12px;
  z-index: 1;
  top: 0;
  padding-bottom: 16px;
  padding-top: 30px;
  height: 87px;
  display: flex;
  justify-content: space-between;
}
.header-link {
  position: relative;
  color: white;
}
.header-links {
  display: flex;
  gap: 32px;
}
.header-link:hover {
  color: #dfffe6;
}

.header-link::after {
  width: 0%s;
  content: "";
  left: 0;
  bottom: -5px;
  position: absolute;
  display: inline-flex;
  align-items: start;
  width: 0;
  height: 2px;
  background-color: #dfffe6;
  transition: width 0.5s ease;
}

.header-link:hover::after {
  width: 100%;
}
/* Main */
.main {
  position: relative;
  background: url("../images/181340-porshe_964_zinger-porshe_911-porshe_912-porshe-legkovyye_avtomobili-3840x2160.jpg")
    no-repeat center;
  background-size: cover; /* ekranni to‘liq to‘ldiradi */
  height: 10vh;
  background-size: 1700px 600px; /* balandlik bermasa ko‘rinmaydi */
}
.one-section h1 {
  padding-top: 100px;
  padding-bottom: 250px;
}
/* Sarlavha markazda chiqadi */
.two-section h1 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
}
/* section2 */
/* Sarlavha markazda chiqadi */
.two-section h1 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
}
/* Ro‘yxatni yonma-yon qilish */
#carsContainer {
  display: flex;
  flex-wrap: wrap; /* joy yetmasa pastga tushadi */
  gap: 15px; /* oraliq */
  justify-content: center;
  list-style: none; /* nuqtalarni olib tashlaydi */
  padding: 0;
  margin: 0;
}

#carsContainer li {
  background: #f0f0f0; /* fon rangi */
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
